# Python
*.pyc

# Coverage
.coverage

# JetBrains
.idea

# Configuration with secrets/passwords
.env

# Commit ID
templates/id.html

# Google Analytics Code
templates/analytics.html

# Package Development
artwork
changerequest
