Django[argon2]==3.0.8
django-debug-toolbar==2.2
django-allauth==0.42.0
django-markdownify==0.8.0
django-redis==4.12.1
-e git://github.com/ghdpro/django-changerequest#egg=django-changerequest
-e git://github.com/ghdpro/django-artwork#egg=django-artwork
django-template-toolkit==0.1.2
psycopg2-binary==2.8.5
sentry-sdk==0.16.0
fabric==2.5.0
