{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#073642">
    <meta name="msapplication-TileColor" content="#073642">
    <meta name="theme-color" content="#073642">
    {% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/css/flag-icon.min.css" integrity="sha256-NkXMfPcpoih3/xWDcrJcAX78pHpfwxkhNj0bAf8AMTs=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'rpguru.css' %}?20210520">
    {% endblock %}
    <title>{% block head_title %}RPGuru: Dual Audio Game Database{% endblock head_title %}</title>
    {% block meta %}{% endblock meta %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    {% include 'analytics.html' %}
</head>
<body>

{% include '_nav.html' %}

<main class="container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock content %}
</main>

<footer class="container text-center mb-3">
    <small>Copyright &copy; {% now "Y" %} RPGuru.com - {% include 'id.html' %}</small><br />
    <small>This website is not affiliated with any video game company. All trademarks are owned by their respective holders.</small>
</footer>

{% block javascript %}
<script src="{% static 'js/popper.min.js' %}?v2.9.2"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}?v5.0.1"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock javascript %}

</body>
</html>